<mat-list>
  <mat-list-item class="item">
    <mat-icon
      aria-hidden="false"
      aria-label="Home"
      color="primary"
    >home
    </mat-icon>
    <a
      class="item__link"
      routerLink=""
      routerLinkActive="link--active"
    >Home</a>
  </mat-list-item>

  <mat-list-item class="item">
    <mat-icon
      aria-hidden="false"
      aria-label="Home"
      color="primary"
    >home
    </mat-icon>
    <a
      class="item__link"
      routerLink="fibonacci"
      routerLinkActive="link--active"
    >Sequência Fibonacci</a>
  </mat-list-item>

</mat-list>
